body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-bg1 {
    background-image: url(./img/BABYMONSTER-Debut-Visual-Photos-documents-1\(6\).jpeg);
}

.parallax-bg2 {
    background-image: url(./img/BABYMONSTER.webp);
}

.parallax-bg3 {
    background-image: url(./img/group-BABYMONSTER-kpop-rookie-of-the-month-gallery-2024-billboard-1548.webp);
}

.content {
    padding: 80px 20px;
    text-align: center;
    background: #ffffff;
    color: #333;
}

.content h1, .content h2 {
    margin-top: 0;
}