:root {
    --bg:#e0f7fa;
    --text:#222;
    --chao:#26c6da;
    --personagem:#ff6f00;
}

body.dark {
   --bg:#121212;
    --text:#eee;
    --chao:#333;
    --personagem:#ff9800; 
}

body {
    margin: 0;
    font-family: sans-serif;
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

#toggleTheme {
    font-size: 1.2rem;
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
}

.cenario {
    position: relative;
    height: 950px;
    background-image: url('./img/casa-mário.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 5px solid #999;
    overflow: hidden;
}
.personagem {
    position: absolute;
    bottom: -240px;
    left: 50px;
    width: 100px;
    height: 820px;
    background-image: url('./img/mário-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.1s linear;
}