body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
    text-align: center;
    padding: 60px 20px;

}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

button {
    padding: 20px 40px;
    font-size: 1.5em;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    animation: pulse 1.5s infinite;
}

button:hover {
    transform: scale(1.1);
    background-color: darkred;
}

@keyframes pulse  {
    0%{ transform: scale(1);}
    50%{transform: scale(1.05);}
    100%{transform: scale(1);}
}